body {
    /* background-image: url(./pikachu.jpg);  */
    /* position: fixed;  */
    top: 0; 
    left: 0;
    
}

h3, h1, p, .questions, .result {
    /* background-color: white; */
    text-align: center;
    margin-top: 60px;   

}

h3 {
    color: blue;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;

}

h1 {
    font-size: 40px;
    font-family: 'Quantico', sans-serif;
}

.animate__animated {
    --animate-duration: 4s;
  }


p, .questions, .result {
    font-size: 20px;
    font-family: 'Quantico', sans-serif;
}

#start {
    /* margin: 0; */
    position: relative;
    top: 40px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

        box-shadow:inset 0px 1px 0px 0px #caefab;
        background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
        background-color:#77d42a;
        border-radius:6px;
        border:1px solid #268a16;
        display:inline-block;
        cursor:pointer;
        color:#306108;
        font-family:Courier New;
        font-size:19px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #aade7c;
    }
    #start:hover {
        background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
        background-color:#5cb811;
    }

.hide {
    display: none;
}
/* 
input[type="radio"]  {
    vertical-align: middle;
} */

  
       
  